<div class="col-md-4">
    <h2>Game Ranking</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th><a href ng-click="predicate = 'name'; reverse=false">Name</a></th>
            <th><a href ng-click="predicate = 'score'; reverse=!reverse">Score</a></th>
            <th><a href ng-click="predicate = 'time'; reverse=!reverse">Time</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rank in ranking | orderBy:predicate:reverse">
            <td>{{ rank.name }}</td>
            <td>{{ rank.score }}</td>
            <td>{{ rank.time }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <button type="button" class="btn btn-primary pull-right" ng-click="takeSurvey()" ng-hide="successInfo">Take the Survey</button>
    <!-- success information/alert -->
    <div class="alert alert-success alert-dismissable" ng-show="successInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Thank you for your feedback!</strong>.
    </div>
</div>

<!-- survey detail modal -->
<div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Game Survey</h4>
            </div>
            <div class="modal-body">
                <!-- star rating question -->
                <div>
                    <h3>
                        1.	How would you rate your overall experience with this game?<br />
                        <small>(0 is Poor, 10 is Excellent)</small>
                    </h3>
                    <div star-rating rating-value="rating" max="10" on-rating-selected="updateRating(rating)" readonly="false"></div>
                </div>
                <!-- toggle choice question -->
                <div>
                    <h3>2.	How difficult do you think the game is?</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="difficulty" btn-radio="'Easy'">Easy</button>
                        <button type="button" class="btn btn-primary" ng-model="difficulty" btn-radio="'Medium'">Medium</button>
                        <button type="button" class="btn btn-primary" ng-model="difficulty" btn-radio="'Hard'">Hard</button>
                    </div>
                </div>
                <!-- toggle choice question -->
                <div>
                    <h3>3.	Are you willing to play the game again?</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="playagain" btn-radio="'Yes'">YES</button>
                        <button type="button" class="btn btn-primary" ng-model="playagain" btn-radio="'No'">NO</button>
                    </div>
                </div>
                <!-- toggle choice question -->
                <div>
                    <h3>4.	Are you willing to recommend this game to a friend or colleague?</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="recommend" btn-radio="'Yes'">YES</button>
                        <button type="button" class="btn btn-primary" ng-model="recommend" btn-radio="'No'">NO</button>
                    </div>
                </div>
                <!-- radio choice question -->
                <div>
                    <h3>5.	What kind of online games do you play most often?</h3>
                    <div class="radio">
                        <input type="radio" ng-model="gameType" value="Puzzle">Puzzle, board game, game show, trivia and card games.<br/>
                        <input type="radio" ng-model="gameType" value="Action">Action, sports, strategy and role playing games.<br/>
                        <input type="radio" ng-model="gameType" value="Causal">Casual and social games.<br/>
                        <input type="radio" ng-model="gameType" value="MultiPlayer">Persistent multi-player universe games.<br/>
                        <input type="radio" ng-model="gameType" value="Other">Other games.
                    </div>
                </div>
                <!-- open question -->
                <div>
                    <h3>6.	Other comments or suggestions?</h3>
                    <textarea class="form-control" rows="2" ng-model="comment" placeholder="We welcome your comments and feedback."></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addSurvey()" data-dismiss="modal" aria-hidden="true">Send results</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
